# Configurações sensíveis
.env
secrets.json
appsettings.Development.json
appsettings.Local.json
appsettings.Test.json

# Logs e Debug
logs/
*.log
*.tlog
*.dmp

# Arquivos temporários do sistema
Thumbs.db
.DS_Store
*.bak
*.swp

# Docker
docker-compose.override.yml
**/data/
**/pgdata/

# Banco de Dados e Migrations
migrations/
*.bak

# Configurações específicas do JetBrains Rider
.idea/

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
dataSources.local.xml